* {
    margin: 0;
}

body {
    background-color: #f7f7f7;
    font-family: Tahoma, Geneva, sans-serif	
}

header {
    background-color: #c50000;
    color: #fcfcfc;
    padding: 20px;
}

header h1 {
    width: 70%;
    margin: auto;
}

#filelist {
    margin: 50px auto;
    width: 70%;
}

#filelist ul {
    list-style: none;
    padding-left: 0;
    font-size: 1.5em;
}

#filelist a {
    text-decoration: none;
}

#filelist a:visited {
    color: inherit;
}

#filelist a:hover {
    color: #009e00
}