<html>

<head>
    {{> head}}
</head>

<body>
    <header>
        <h1>{{title}}</h1>
    </header>

    <div id='filelist'>
        <ul>
            {{#each entries}}
            <li><a href='/{{this.path}}'>{{this.name}}</a></li>
            {{/each}}
        </ul>
    </div>
</body>

</html>