<html>

<head>
    {{> head}}
</head>

<body>
    <header>
        Listing files in {{title}}
    </header>

    <ul>
        {{#each entries}}
        <a href='{{title}}{{this.path}}'>{{this.name}}</a>
        {{/each}}
    </ul>
</body>

</html>